.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration: none;
  margin-left: 18px;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
