.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  text-decoration: none;
  color: inherit;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color 0.2s ease-in-out;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}
