@import url(__title/place__title.css);
@import url(__image/place__image.css);
@import url(__website/place__website.css);
@import url(__url-heading/place__url-heading.css);
@import url(__link/place__link.css);
@import url(__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 16px;
  grid-template-areas:
  "title website"
  "image paragraph";
  margin: 0 0 80px;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 48px 14px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 48px 16px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    grid-template-areas:
    "title"
    "image"
    "website"
    "paragraph";
    margin-bottom: 48px;
  }
}