.header__lang-links {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0 0 5px;
  list-style: none;
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    padding: 0 0 3px;
  }
}
